UIElementsSchema/Unity.PlatformToolkit.Editor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.PlatformToolkit.Editor" elementFormDefault="qualified" targetNamespace="Unity.PlatformToolkit.Editor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="AchievementIgnoreDropdownType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:ButtonType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AchievementIgnoreDropdown" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:Button" type="tns:AchievementIgnoreDropdownType" />
  <xs:complexType name="AttributeDefinitionsPopupFieldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttributeDefinitionsPopupField" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:BindableElement" type="tns:AttributeDefinitionsPopupFieldType" />
  <xs:complexType name="ObjectBindingType">
    <xs:complexContent mixed="false">
      <xs:restriction xmlns:q5="UnityEngine.UIElements" base="q5:DataBindingType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="q5:VisualElement" />
        </xs:choice>
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObjectBinding" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:DataBinding" type="tns:ObjectBindingType" />
</xs:schema>